@CHARSET "ISO-8859-1";

body {
	font-size:14px;
	font-family:segoe ui;
}

.btn {
	border-radius:2px;
}

.form-control {
	border-radius:2px;
}

#main-container {
	
}

#header {

}

#left-col {
	background-color:#251c17;
}

#right-col {
	position:relative;
}

#page-content {
	min-height:400px;
}

#footer {
	padding:10px;
	border-top:1px solid #eee;
}

#footer-contact {
	text-align:center;
}

#opss-title {
	font-weight:bold;
	font-size:1em;
	font-variant:small-caps;
}

.nav-sidebar {
	margin-bottom:0px;
}

.nav-list-header {
	margin-left:-10px;
	color:rgb(211,170,82);
}

.nav-icon{
	display:inline-block;
	margin-right:10px;
}

.nav-item > a {
	padding-left:40px;
	color:#f5d3b3;
}

.form-group {
	margin-bottom:5px;
}

.form-error {
	color:red;
	font-size:0.9em;
}


