@CHARSET "ISO-8859-1";

body {
	font-size:14px;
	font-family:segoe ui,calibri,tahoma,sans-serif;
	color:rgb(90,90,90);
}

.btn {
	border-radius:2px;
}

.btn-default {
	background-image:none;
	color:#686868;
	background-color:#f6f6f6;
}

.panel-default> .panel-heading {
	background-image: none;
}

.page-header {
	font-style: italic;
	text-transform: lowercase;
	font-weight:lighter;
}

#main-container {
	
}

#header {

}

#left-col {
	background-color:#251c17;
}

.align-center {
	text-align:center;
}

.font-bold {
	font-weight:600;
}

#page-content {
	min-height:400px;
}

#footer {
	padding:10px;
	border-top:1px solid #eee;
}

#footer-contact {
	text-align:center;
}

#opss-title {
	font-weight:normal;
	font-size:1em;
	font-variant:small-caps;
}

#result-message-container {
	display:none;
}

#logo-image {
	width:45px;
	position:relative;
	top:-15px;
}

/** sidebar nav **/

.nav-sidebar {
	margin-bottom:0px;
}

.nav-list-header {
	margin-left:-10px;
	color:rgb(211,170,82);
}

.nav-icon{
	display:inline-block;
	margin-right:10px;
}

.nav-item > a {
	padding-left:40px;
	color:#f5d3b3;
}

/** end sidebar nav **/

/** forms **/
.form-control {
	border-radius:2px;
}

.form-group {
	margin-bottom:5px;
}

.form-error {
	color:red;
	font-size:0.9em;
}

legend {
	border-bottom:none;
	font-weight:lighter;
}

label {
	font-weight:normal;
}

.combined-fields-item .form-control {
	border-radius:0px;
	border-left:none;
	border-right:none;
}

.combined-fields-item:first-of-type .form-control{
	border-top-left-radius:2px;
	border-bottom-left-radius:2px;
	border-left:1px solid #ccc;
}

.combined-fields-item:last-of-type .form-control{
	border-top-right-radius:2px;
	border-bottom-right-radius:2px;
	border-right:1px solid #ccc;
}


/** end forms **/

/** table-search wrapper **/
.records-group-container .records-search-container {
	margin-bottom:20px;
}
/** end table-search wrapper **/

/** tables **/
.records-table .unread {
	font-weight:600;
}

.table-hover td:hover {
	cursor:pointer;
}

/** end tables **/

/** message viewer **/
.message-time {
	font-size:0.8em;
	padding-top:10px;
}

.modal-footer:empty {
	display:none;
}
/** end message viewer **/

#paper-body, #user-body {
	padding-top:20px;
}

/** paper sidebar **/
#paper-sidebar {
	border-left: 1px solid #f6f6f6;
}

/** end paper sidebar **/

/** details grid/vertical view **/
.details-grid {
	display:table;
}
.details-grid .details-item {
	display:table-row;
}

.details-grid .details-name, .details-grid .details-value {
	display:table-cell;
	padding-top:5px;
	padding-left:5px;
}


.details-vertical .details-item {
	display:block;
	margin-bottom:5px;
}

.details-vertical .details-name, details-vertical .details-value{
	display:block;
}

.details-name {
	font-weight:600;
}

/** end details grid/vertical view **/