body{
    margin: 0px;
}
#header{
    background-color: #fff;

}
#main-title{
    position: relative;
    left: 0px;
    color: #111;
    font-size: 1.2em;
    font-family: calibri;
    padding: 9px 0px 10px 50px;
    height: 50%;
    width: 200px;
}
#main-title > a{
    text-decoration: none;
    color: #111;
}
#main-content-area{
    height: auto;
    background-color: rgb(255,255,255);
}
#inputUsername{
	border-radius: 4px 4px 0 0;
}
#inputPassword{
    margin-bottom: 10px;
    border-radius:  0 0 4px 4px;
}
#titles{
	padding-left: 10px;
	font-size: 1.2em;
	color: #999;
}
#footer{
	background-color: rgb(245,245,245);
}

